<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>
    
<span class="credits"> 
    {{site.name}} is maintained by </br> Thomas Sandsør&nbsp;&nbsp;
	<a target="_blank" class="text-dark" href="https://www.twitter.com/crmkeeper"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
	<a target="_blank" class="text-dark" href="https://www.linkedin.com/in/sandsor/"><i class="fa fa-linkedin"></i></a> </br>
    Matt Beard&nbsp;&nbsp;
    <a target="_blank" class="text-dark" href="https://www.twitter.com/mattybeard"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
	<a target="_blank" class="text-dark" href="https://www.linkedin.com/in/mattbeard7/"><i class="fa fa-linkedin"></i></a> </br>
    Thank you to Guido Preite <a target="_blank" class="text-dark" href="https://www.twitter.com/crmanswers"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp; for code and help to get going 
</span>
    
</p>

<p>
    <span class="text-muted small">Made with Pintereso Theme</span>

    <!-- <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy"> -->
        <!-- Privacy Policy. -->
    <!-- </a> -->
</p>
